.banner_cont {
    height: 100vh;
    background: var(--main-bg-1);
    color: var(--main-text-color-2);

    .banner_body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        display: grid;
        gap: 30px;
        font-family: $main-font;

        .banner_title {
            font-size: 50px;
            text-align: center;
        }

        .banner_subtitle {
            font-size: 20px;
            text-align: center;
        }
        .banner_btn_contact {
            margin-top: 35px;
            width: 180px;
            height: 55px;
            border-radius: 10px;
            color: var(--main-text-color-2);
            background: var(--main-color-1);
            outline: none;
            border: none;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            justify-self: center;
            transition: background .3s ease, color .3s ease;

            &:hover {
                background: var(--main-text-color-2);
                color: var(--main-text-color-1);
            }
        }
    }

    .arrow-icon {
        width: 45px;
        height: 45px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        animation: arrowDown 1.5s ease infinite;
    }
}

@keyframes arrowDown {
    0% {
        transform: translate(-50%,0%);
    }
    50% {
        
        transform: translate(-50%,20px);
    }
    100% {

        transform: translate(-50%,0%);
    }
}


@media (min-width:600px) {
    .banner_cont {
        .banner_body {
            .banner_title {
                font-size: 70px;
            }

            .banner_subtitle {
                font-size: 25px;
            }
        }
    }
}
