@import "../../../../scss/variables.scss";

.aboutcomponent-container {
    background: var(--main-bg-3);
    padding: 45px 0px;

    .about-subcontainer {
        width: 90%;
        margin: auto;
        max-width: 435px;

        .left-container {
            font-family: $main-font;
            display: grid;
            gap: 20px;

            .about-title {
                text-align: center;
                font-size: 45px;
                color: var(--main-color-1);
            }

            .about-description {
                text-align: center;
                font-size: 14px;
                line-height: 25px;
            }

            .about-btn-cv {
                @include button_1;
            }
        }

        .about-right-container {
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            grid-template-rows: 1fr 1fr 1fr;
            max-width: 435px;
            gap: 30px 0px;
            margin-top: 45px;

            .icon-container {
                justify-self: center;
                width: 70px;
                height: 70px;

                &:nth-child(1) {
                    grid-column: 3 / 6;
                    justify-self: center;
                }

                &:nth-child(2) {
                    grid-column: 7 / 10;
                }

                &:nth-child(3) {
                    grid-column: 1 / 4;
                    grid-row: 2 / 3;
                }

                &:nth-child(4) {
                    grid-column: 5 / 8;
                    grid-row: 2 / 3;
                }

                &:nth-child(5) {
                    grid-column: 9 / 12;
                    grid-row: 2 / 3;
                }

                &:nth-child(6) {
                    grid-column: 3 / 6;
                    grid-row: 3 / 4;
                }

                &:nth-child(7) {
                    grid-column: 7 / 10;
                    grid-row: 3 / 4;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .aboutcomponent-container {
        .left-container {
            .about-title {
                font-size: 55px;
            }
        }
    }
}

@media (min-width: 960px) {
    .aboutcomponent-container {
        .about-subcontainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1300px;
            margin: auto;

            .left-container {
                .about-title {
                    text-align: left;
                    font-size: 55px;
                }

                .about-description {
                    text-align: left;
                }

                .about-btn-cv {
                    justify-self: left;
                }
            }

            .about-right-container {
                width: 100%;
                margin-top: 0px;
                justify-self: right;
                max-width: 430px;
                gap: 50px 0px;

                .icon-container {
                    width: 85px;
                    height: 85px;
                }
            }
        }
    }
}

@media (min-width: 1340px) {
    .aboutcomponent-container {
        padding: 100px 0px;
        .about-subcontainer {
            .left-container {
                max-width: 615px;

                .about-title {
                    font-size: 65px;
                }

                .about-description {
                    font-size: 16px;
                    line-height: 35px;
                }

                .about-btn-cv {
                    height: 70px;
                    width: 240px;
                    font-size: 20px;
                }
            }

            .about-right-container {
                width: 90%;
                gap: 30px 0px;
                .icon-container {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

@media (min-width: 1650px) {
    .aboutcomponent-container {
        .left-container {
            .about-title {
                font-size: 80px;
            }
        }
    }
}
