@import "../../../../scss/variables.scss";

.header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;

    .subcontainer_header {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        font-family: $main-font;

        .logo {
            font-size: 20px;
            font-weight: 700;
        }
        .btn_menu_container {
            fill: var(--main-text-color-2);
            cursor: pointer;
            position: relative;
            display: flex;
            width: 25px;
            height: 25px;

            .menu-icon {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.header-nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -700px);
    background: var(--main-text-color-2);
    width: 90%;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    transition: transform 0.3s ease;

    ul {
        list-style: none;

        .option {
            font-family: $main-font;
            padding: 20px 10px;
            color: var(--main-text-color-1);
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background: #dddddd;
            }
        }
    }
}

.header-nav.down {
    transform: translate(-50%, -50%);
}
